<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bysong.android.apidemo">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidApiDemo">
        <activity
            android:name="x.java.lang.SystemActivity"
            android:label="java/lang/System"
            android:theme="@style/Theme.AndroidApiDemo.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="x.android.provider.MediaStore.MediaStore_Images_Activity"
            android:label="android/provider/MediaStore">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="x.android.content.ContentResolver_Activity"
            android:label="android/content/ContentResolver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="x.androidx.core.content.ExportableFileProvider"
            android:authorities="com.bysong.android.apidemo.fileprovider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="com.bysong.android.apidemo.fileprovider"-->
<!--            android:exported="true"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/file_paths">-->
<!--            </meta-data>-->
<!--        </provider>-->

    </application>

</manifest>